{{#if user}}
<section class="cart">
    <p class="cart__total"><span class="cart__field">Order Total&nbsp;</span> {{user.total}}</p>
    <article class="dashboard">
        {{#each user.cart}}
        <div class="product">
            <a href="/movies/search?id={{this.id}}" class="product__title">{{this.title}}</a>
            <p class="product__quantity">{{this.quantity}}</p>
            <p class="product__price">{{this.price}}</p>

            <a class="product__button" href="cart?_method=DELETE&_id={{this._id}}">Remove one</a>
            <a class="product__button" href="cart?_method=DELETE&_id={{this._id}}&quantity=all">Remove all</a>


            <img src="{{this.poster_path}}" alt="" class="product__img">
        </div>
        {{/each}}
    </article>
    
    <a class="cart__button" href="/services/order">Place order</a>
</section>
{{/if}}
