{{#if user.email}}
<section class="user">
    <article class="profile">
        <div class="profile__img">
            <img src="/img/user.png" alt="" >
        </div>

        <div class="profile__info">
            <p class="profile__email"> <span class="profile__field">Email&nbsp;</span> {{user.email}}</p>
            <p class="profile__phone"><span class="profile__field">Phone&nbsp;</span> {{user.phone}}</p>
            <p class="profile__lastLogin"><span class="profile__field">Last login&nbsp;</span> {{user.lastLogin}}</p>
        </div>
    </article>

    <a class="user__button" href="logout">Log out</a>

    <h1 class="user__legend">Cart</h1>
    <article class="dashboard">
        {{#each user.cart}}
        <div class="product">
            <a href="/movies/search?id={{this.id}}" class="product__title">{{this.title}}</a>
            <p class="product__quantity">{{this.quantity}}</p>
            <p class="product__price">{{this.price}}</p>

            <a class="product__button" href="cart?_method=PUT&id={{this.id}}">Add</a>
            <a class="product__button" href="cart?_method=DELETE&_id={{this._id}}">Remove</a>


            <img src="{{this.poster_path}}" alt="" class="product__img">
        </div>
        {{/each}}

    </article>

    <hr>
    <h1 class="user__legend">Wishlist</h1>
    <article class="dashboard">
        {{#each user.wishlist}}
        <div class="product">
            <img src="{{this.poster_path}}" alt="" class="product__img">

            <a href="/movies/search?id={{this.id}}" class="product__title">{{this.title}}</a>
            <p class="product__price">{{this.price}}</p>

            <a class="product__button" href="wishlist?_method=DELETE&_id={{this._id}}">Remove from wishlist</a>
        </div>

        {{/each}}
    </article>

</section>
{{/if}}