{{#if message}}<p>{{message}}</p>{{/if}}
<form action="/movies/search">
    <input list="titles" id="title" name="title" >
    <datalist id="titles">
        {{#each movies}}
            <option value="{{this.id}}, {{this.title}}"></option>
        {{/each}}
    </datalist>
    <input type="submit" hidden>
</form>
<table class="dashboard">
    <thead>
        <th></th>
        <th>ID</th>
        <th>Title</th>
        <th>Price</th>
        <th>Stock</th>
    </thead>

    <tbody>
        {{#each movies}}
        <tr>
            <td><a href="search?id={{this.id}}"><img width="100" height="100" src="{{this.poster_path}}" alt="{{this.id}}"></a></td>
            <td>{{this.id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.price}}</td>
            <td>{{this.stock}}</td>
            <td><a href="/movies/edit/{{this.id}}">Edit</a></td>
            <td><a href="/movies/delete/{{this.id}}?_method=DELETE">Delete</a></td>
        </tr>
        {{/each}}
    </tbody>

</table>