<section class="admin">
    {{#if message}}<p>{{message}}</p>{{/if}}

    <div class="controls">
        <a href="add" class="controls__add">Add a movie</a>

        <a class="controls__pull" href="pull">Pull new movies</a>

        <a class="controls__logout" href="/users/logout">Logout</a>
    </div>

    <form action="/movies/search" class="lookup">
        <label for="title">Search for a title</label>
        <input list="titles" id="title" name="title">
        <datalist id="titles">
            {{#each movies}}
            <option value="{{this.id}}, {{this.title}}"></option>
            {{/each}}
        </datalist>
        <input type="submit" hidden>
    </form>

    <article class="dashboard">
        {{#each movies}}
        <div class="product">
            <img class="product__img" src="{{this.poster_path}}" alt="{{this.id}}">

            <p class="product__id" id={{this.id}}>{{this.id}}</p>
            <p class="product__title">{{this.title}}</p>
            <p class="product__price">{{this.price}}</p>
            <p class="product__quantity">{{this.stock}}</p>

            <a class="product__button" href="/movies/edit/{{this.id}}">Edit</a>
            <a class="product__button" href="/movies/delete/{{this.id}}?_method=DELETE">Delete</a>
        </div>
        {{/each}}
    </article>
</section>