{{#if popup}}
<article class="banner">
    <button class="banner__btn-close">Close</button>
    <div class="banner__content"></div>
</article>
{{/if}}

<main class="movies">
    {{#each movies}}
    <article class="movie">
        <span class="movie__score">{{this.vote_average}}</span>
        <a href="{{this.ref}}"><img src="{{this.poster_path}}" alt="{{this.title}}" class="movie__img"></a>
        <p class="movie__title">{{this.title}}</p>
        <p class="movie__genres">{{this.genre}}</p>
        <p class="movie__release">{{this.release_date}}</p>
    </article>
    {{/each}}
</main>