{{#if popup}}
<article class="banner">
    <button class="banner__btn-close">Close</button>
    <div class="banner__content"></div>
</article>
{{/if}}

<nav class="nav">
    <a href="/users/me" class="nav__genre">
        <i class="fas fa-user nav__icon"></i>
        <h1 class="nav__text">My profile</h1>
    </a>

    <a href="/movies?sortBy=now_playing" class="nav__genre">
        <i class="fas fa-rss-square nav__icon"></i>
        <h1 class="nav__text">Now playing</h1>
    </a>

    <a href="/movies?sortBy=popular" class="nav__genre">
        <i class="fas fa-fire-alt nav__icon"></i>
        <h1 class="nav__text">Popular</h1>
    </a>

    <a href="/movies?sortBy=top_rated" class="nav__genre">
        <i class="far fa-thumbs-up nav__icon"></i>
        <h1 class="nav__text">Top rated</h1>
    </a>

    <a href="/movies?sortBy=upcoming" class="nav__genre">
        <i class="fas fa-forward nav__icon"></i>
        <h1 class="nav__text">Upcoming</h1>
    </a>


    <a href="/movies/genres/Action" class="nav__genre">
        <i class="fas fa-fist-raised nav__icon"></i>
        <h1 class="nav__text">Action</h1>
    </a>

    <a href="/movies/genres/Adventure" class="nav__genre">
        <i class="fas fa-map nav__icon"></i>
        <h1 class="nav__text">Adventure</h1>
    </a>

    <a href="/movies/genres/Comedy" class="nav__genre">
        <i class="fas fa-theater-masks nav__icon"></i>
        <h1 class="nav__text">Comedy</h1>
    </a>

    <a href="/movies/genres/Romance" class="nav__genre">
        <i class="fas fa-heart nav__icon"></i>
        <h1 class="nav__text">Romance</h1>
    </a>

    <a href="/movies/genres/Science Fiction" class="nav__genre">
        <i class="fas fa-laptop nav__icon"></i>
        <h1 class="nav__text">Sci-fi</h1>
    </a>
</nav>

<h1 class="title">{{title}}</h1>

<main class="movies">
    {{#each movies}}
    <article class="movie">
        <span class="movie__score">{{this.vote_average}}</span>
        <a href="{{this.ref}}"><img src="{{this.poster_path}}" alt="{{this.title}}" class="movie__img"></a>
        <p class="movie__title">{{this.title}}</p>
        <p class="movie__genres">{{this.genres}}</p>
        <p class="movie__release">{{this.release_date}}</p>
    </article>
    {{/each}}
</main>