{{#if popup}}
<article class="banner">
    <button class="banner__btn-close">Close</button>
    <div class="banner__content"></div>
</article>
{{/if}}

<main class="movies">
    {{#each movies}}
    <article class="movie">
        <span class="movie__score">{{this.vote_average}}</span>
        <div class="movie__img">
            <a href="{{this.ref}}"><img src="{{this.poster_path}}" alt="{{this.title}}" class="movie__img"></a>

            <div class="front">
                <a class="front__button" href="/users/cart?_method=PUT&id={{this.id}}"><i class="fas fa-shopping-basket"></i></a>
                <a class="front__button" href="{{this.ref}}"><i class="fas fa-info"></i></a>
            </div>
        </div>
        <p class="movie__title">{{this.title}}</p>
        <p class="movie__genres">{{this.genre}}</p>
        <p class="movie__release">{{this.release_date}}</p>

    </article>

    {{/each}}
</main>