
<main class="main">
{{#each movies}}
    <article class="movie">
        <span class="movie__score">{{this.vote_average}}</span>
        <a href="{{this.ref}}"><img src="{{this.poster_path}}" alt="{{this.title}}" class="movie__img"></a>
        <p class="movie__title">{{this.title}}</p>
        <p class="movie__genres">{{this.genres}}</p>
        <p class="movie__release">{{this.release_date}}</p>
    </article>
{{/each}}
</main>
